type aynparts_app, domain, coredomain;
typeattribute aynparts_app mlstrustedsubject;

app_domain(aynparts_app)

allow aynparts_app {
  app_api_service
  audioserver_service
  cameraserver_service
  drmserver_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
}:service_manager find;

allow aynparts_app system_app_data_file:dir create_dir_perms;
allow aynparts_app system_app_data_file:{ file lnk_file } create_file_perms;

allow aynparts_app sysfs_leds:dir r_dir_perms;

rw_dir_file(aynparts_app, vendor_sysfs_aynparts_type)
