#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

# Joystick
/sys/class/moorechip-joystick/joystick    calibration        0660    system    system
/sys/class/moorechip-joystick/joystick    m0_function        0660    system    system
/sys/class/moorechip-joystick/joystick    m1_function        0660    system    system
/sys/class/moorechip-joystick/joystick    layout             0660    system    system
/sys/class/moorechip-joystick/joystick    triggers           0660    system    system

# LEDs
/sys/class/leds/left:*                    brightness         0660    system    system
/sys/class/leds/left:*                    multi_intensity    0660    system    system
/sys/class/leds/right:*                   brightness         0660    system    system
/sys/class/leds/right:*                   multi_intensity    0660    system    system
